extends layout

block content
  h1= title

  h2 Q. What’s the Diff of HTMLs?
  p The Diff of HTMLs is an unofficial diff viewer for <a href="https://html.spec.whatwg.org/multipage/">WHATWG HTML Standard</a> and <a href="https://w3c.github.io/html/">W3C HTML 5.1</a>. The Diff of HTMLs provides side-by-side diff view of each section between the HTML specifications.
  p There are number of differences between WHATWG HTML Standard and W3C HTML 5.1. At the time of writing this, the differences include:
  ul
    li <code>article</code>
    li <code>hgroup</code>
    li <code>dl</code>, <code>dt</code> and <code>dd</code>
    li <code>blockquote</code> and <code>cite</code>
    li <code>main</code>
    li <code>a[ping]</code>
    li <code>ruby</code>
    li requirements for alternative texts of images
    li <code>iframe[seamless]</code>
    li <code>xml:base</code>
    li <code>DataCue</code>
    li Table sorting model
    li <code>input[type="datetime-local"]</code> and <code>input[type="datetime"]</code>
    li Canvas 2D Context
    li Custom elements
    li Common idioms without dedicated elements
    li Microdata
    li <code>accessKeyLabel</code>
    li Module workers
    li Web Messaging
    li Sever-sent events
    li Web Sockets API
    li Web Workers
    li Web Storage
    li <code>showModalDialog</code>
  p I can’t remember the differences. Thus I created the Diff of HTMLs.
  p The Diff of HTMLs hopes that the HTML specifications will unite. Once the HTML specifications united, the Diff of HTMLs may be shutdown.

  h2 Q. Is the Diff of HTMLs affiliate with WHATWG or W3C?
  p No. The Diff of HTMLs is not affiliate with WHATWG nor W3C.

  h2 Q. Are table of contents (TOCs) displayed in the Diff of HTMLs same as the specifications?
  p No. The Diff of HTMLs modifies original TOCs as follows to reduce unnecessary diffs.

  h3 Modifications applied to both WAHTWG HTML Standard and W3C HTML 5.1
  ul
    li Remove all sections before “Introduction” (headers, table of contents, abstract, status of the document)
    li Remove all sections after “IANA considerations” (indexes, references, changes, acknowledgements)

  h3 Modifications applied to W3C HTML 5.1
  ul
    li Replace “’” with “'”
    li Replace “Plugin Content Handlers” with “Plugins”
    li Replace “Color” with “Colour” excepting “type=color”
    li Repalce “The root element” with “The document element”
    li Replace “A link or button containing nothing but an image” with “A link or button containing nothing but the image”
    li Replace “Images of text” with “Text that has been rendered to a graphic for typographical effect”
    li Replace “Synchronizing” with “Synchronising”
    li Replace “behaviors” with “behaviours”
    li Repalce “a fragment identifier” with “a fragment”
    li Replace “Serializing” with “Serialising”
    li Reorder “Links” in “The elements of HTML”
    li Reorder “Calling scripts” in “Processing model”

  h2 Q. Are HTMLs displayed in the Diff of HTMLs same as the specifications?
  p No. The Diff of HTMLs reformats HTMLs to reduce unnecessary diffs.

  h3 Modifications applied to both WAHTWG HTML Standard and W3C HTML 5.1
  ul
    li Normalize white spaces
    li Remove start and end tags of <code>a</code>, <code>em</code>, <code>strong</code>, <code>dfn</code>, <code>code</code>, <code>var</code>, and <code>i</code>.
    li Sort attributes alphabetically
    li Remove <code>data-*</code> attributes
    li Remove <code>id</code> attribute

  h3 Modifications applied to WHATWG HTML Standard
  ul
    li Remove <code>div.status</code>

  h3 Modifications applied to W3C HTML 5.1
  ul
    li Remove start and end tags of <code>span</code> used in <code>pre</code>
    li Remove start and end tags of <code>span.secno</code> and <code>span.content</code> used in headings
    li Remove <code>a.self-link</code>
    li Remove <code>span.dfn-panel</code>
    li Remove <code>highlight</code> from <code>class</code> attribute
    li Remove <code>role</code> attribute (ex. <code>role=note</code>)

  h3 Privacy Policy
  p The Diff of HTMLs uses <a href="https://www.google.com/analytics/">Google Analytics</a> to collect information about use of the service.
  ul
    li We will use this information to improve the service.
    li We will not share this information with others (except Google).
    li We will not use this information to identify individuals.
  p You can prevent your data from being used by Google Analytics by using <a href="https://tools.google.com/dlpage/gaoptout">Google Analytics Opt-out Browser Add-on</a>.
