extends layout

block content
  h1= title

  h2 Q. What’s this?
  p This site is an unofficial diff viewer for <a href="https://html.spec.whatwg.org/multipage/">WHATWG HTML Standard</a> and <a href="https://w3c.github.io/html/">W3C HTML 5.1</a>. The Diff of HTMLs provides side-by-side diff view of each section between the specifications.
  p There are number of differences between WHATWG HTML Standard and W3C HTML 5.1. At the time of writing this, the differences include:
  ul
    li <code>hgroup</code>
    li <code>blockquote</code>
    li <code>main</code>
    li <code>a[ping]</code>
    li <code>ruby</code>
    li <code>cite</code>
    li <code>iframe[seamless]</code>
    li <code>xml:base</code>
    li Table sorting model
    li <code>input[type="datetime-local"]</code> and <code>input[type="datetime"]</code>
    li Canvas 2D Context
    li Microdata
    li <code>requestAnimationFrame</code>
    li Sever-sent events
    li <code>postMessage</code> and <code>onmessage</code>
    li Web Sockets API
    li Web Workers
    li Web Storage
    li requirements for alternative texts of images
    li <code>showModalDialog</code>
  p I can’t remember the differences. Thus I created this site.
  
  h2 Q. Is this site affiliate with WHATWG or W3C?
  p No. This site is not affiliate with WHATWG nor W3C.

  h2 Q. Are table of contents (TOCs) displayed in this site same as the specifications?
  p No. This site modifies original TOCs as follows to reduce unnecessary diffs.

  h3 Modifications applied to both WAHTWG HTML Standard and W3C HTML 5.1
  ul
    li Remove all sections before “Introduction” (headers, table of contents, abstract, status of the document)
    li Remove all sections after “IANA considerations” (indexes, references, acknowledgements)

  h3 Modifications applied to W3C HTML 5.1
  ul
    li Replace “’” with “'”
    li Replace “behavior” with “behaviours”
    li Replace “Color” with “Colour” “excepting type=color”
    li Replace “Plugin Content Handlers” with “Plugins”
    li Replace “Serializing” with “Serialising”
    li Replace “Synchronizing” with “Synchronising”
    li Reorder “Links” in “The elements of HTML”

  h2 Q. Are HTMLs displayed in this site same as the specifications?
  p No. This site reformats HTMLs to reduce unnecessary diffs.

  h3 Modifications applied to both WAHTWG HTML Standard and W3C HTML 5.1
  ul
    li Normalize white spaces
    li Remove start and end tags of <code>a</code>, <code>em</code>, <code>strong</code>, <code>small</code>, <code>s</code>, <code>cite</code>, <code>q</code>, <code>dfn</code>, <code>abbr</code>, <code>data</code>, <code>time</code>, <code>code</code>, <code>var</code>, <code>samp</code>, <code>kbd</code>, <code>i</code>, <code>b</code>, <code>u</code>, and <code>mark</code>.
    li Sort attributes alphabetically
    li Remove <code>data-*</code> attributes
    li Remove <code>id</code> attribute

  h3 Modifications applied to WHATWG HTML Standard
  ul
    li Remove <code>div.status</code>

  h3 Modifications applied to W3C HTML 5.1
  ul
    li Remove start and end tags of <code>span</code> used in <code>pre</code>
    li Remove start and end tags of <code>span.secno</code> and <code>span.content</code> used in headings
    li Remove <code>a.self-link</code>
    li Remove <code>highlight</code> from <code>class</code> attribute
    li Remove <code>role</code> attribute (ex. <code>role=note</code>)
