include ./mixins/sectionLink.jade
include ./mixins/diffGeneratedNotice.jade
extends layout

mixin toc(sections)
  ol
    each section in sections
      li
        if section.sections.length === 0
          +sectionLink(section)
        else
          | #{section.headingText}
          +toc(section.sections)

block content
  h1 Diff of HTMLs
  p
    | Unofficial diffs between <a href="https://html.spec.whatwg.org/multipage/">WHATWG HTML Standard</a> and <a href="https://w3c.github.io/html/">W3C HTML 5.1 Editor's Draft</a>. 


  h2 Table of contents (TOCs) of the HTML specifications

  +sectionLegends()

  p.note Note: This service modify TOCs to reduce unnecessary diffs. The following TOCs are not equal to the specifications. <a href="/about/">More info</a>.

  +diffGeneratedNotice(time)

  +toc(index)
