doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    - var pageTitle = title + ' | Diff of HTMLs'
    title= pageTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#header
      div.wrap
       div.logo
        a(href='/')
         img.logo(src='/images/html5.svg',alt='')
         | Diff of HTMLs
       p Unofficial diffs between <a href="https://html.spec.whatwg.org/multipage/">WHATWG HTML Standard</a> and <a href="https://w3c.github.io/html/">W3C HTML 5.1 Editor's Draft</a>. <a href="/about/">More info</a>.
    main#main
      div.wrap
        block content
    footer#footer
      div.wrap
        p Copyright information of HTML Standard is available at <a href="https://html.spec.whatwg.org/multipage/acknowledgements.html">its Acknowledgements</a>.
        p Copyright © 2016 W3C® (MIT, ERCIM, Keio, Beihang). This software or document includes material copied from or derived from HTML 5.1 <a href="https://w3c.github.io/html/">http://w3c.github.io/html/</a>.
        p Copyright © Takeshi Kurosawa. The source code of this service is available at <a href="https://www.github.com/takenspc/diffofhtmls">the GitHub project</a>. This service is not affiliate with WHATWG nor W3C.