doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width')
    meta(name='theme-color',content='#333333')
    - var pageTitle = title + ' | Diff of HTMLs'
    title= pageTitle
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700%7CFira+Mono')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='alternate', href='/log/atom/', type='application/atom+xml')
    link(rel='icon', href='/images/logo.svg')
    script(src='/script/highlight.pack.js', defered)
    script(src='/script/init.js', defered)
  body
    header#header
      div.wrap
       div
         div.logo
          a(href='/')
           img.logo(src='/images/logo.svg',alt='')
           | Diff of HTMLs
         p Unofficial diff viewer for <a href="https://html.spec.whatwg.org/multipage/">WHATWG HTML Standard</a> and <a href="https://w3c.github.io/html/">W3C HTML</a>.
       nav.nav
         ul
           li <a href="/">Top</a>
           li <a href="/log/">Updates</a>
           li <a href="/about/">About</a>
           li <a href="https://twitter.com/diffofhtmls">@diffofhtmls</a>
    main#main
      div.wrap
        block content
    footer#footer
      div.wrap
        p Copyright information of WHATWG HTML Standard is available at <a href="https://html.spec.whatwg.org/multipage/acknowledgements.html">its Acknowledgements</a>.
        p This software or document includes material copied from or derived from HTML <a href="https://w3c.github.io/html/">http://w3c.github.io/html/</a>. Copyright © 2016 W3C® (MIT, ERCIM, Keio, Beihang).
        p Copyright © Takeshi Kurosawa. The source code of this site is available at <a href="https://www.github.com/takenspc/diffofhtmls">the GitHub project</a>.
        p This site is not affiliate with WHATWG nor W3C.
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68174527-2', 'auto');
      ga('send', 'pageview');
