include ./mixins/updateEntry.jade

extends layout

block content
  h1= title
  
  each update in updates
    div.update(id=update.datetime)
      h2
        - var updated = moment(update.datetime || 0).utc()
        time(datetime=updated.format())= updated.format(momentFormat)
      +updateEntry(update)