include ./mixins/sectionLink.jade
include ./mixins/updateEntry.jade

extends layout

block content
  h1= title
  
  p All of diffs on the Diff of HTMLs are generated automatically from <a href="https://html.spec.whatwg.org/">WHATWG HTML Standard</a> and <a href="https://w3c.github.io/html/single-page.html">W3C HTML</a>. The Diff of HTMLs usually retrives specifications once a day (at around noon UTC) then calculates differences between the specifications.
  p This page shows which sections of which specifications are modified since last time the Diff of HTMLs calculated the diffs.
  p.note Note: The modifications of specifications don't mean the modfications of diffs. For example, if the two specifications fixed same typos at the same time, there will not be differences between them.
  p.note Note: This site will not proivde the differences between different revisions of a single specification. If you're looking for such differences, please refer to the specifications' GitHub repositories. Both of <a href="https://github.com/whatwg/html">WHATWG HTML Standard's repository</a> and <a href="https://github.com/w3c/html/">W3C HTML's repository</a> are visible to the public.

  +sectionLegends()
  +trendLegends()

  each update in updates
    div.update(id=update.datetime)
      h2
        - var updated = moment(update.datetime || 0).utc()
        time(datetime=updated.format())= updated.format(momentFormat)
      +updateEntry(update)
