html {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #333;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.wrap {
    margin: auto;
    max-width: 78rem;
    padding: 0 1rem;
}

.note {
    font-size: .8em;
}

a {
    color: #00f;
    text-decoration: underline;
}

code {
    font-family: 'Fira Mono', monospace;
}

/*
 * header
 */
#header {
    background: #333;
    border-bottom: thin solid #333;
    color: #fff;
    font-size: .8em;
    padding-top: 1em;
}

#header .wrap {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
}

#header a {
    color: inherit;
    text-decoration: underline;
    line-height: 1.5rem;
}

#header .logo img {
    height: 1.5rem;
    margin-right: .5rem;
    vertical-align: middle;
}

#header .nav {
    flex: 1;
}

#header .nav ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

#header .nav li {
    padding: 0 .5em;
}

/*
 * Footer
 */
#footer {
    background: #333;
    border-bottom: thin solid #333;
    border-top: thin solid #333;
    color: #fff;
    font-size: 0.8em;
}

#footer a {
    color: inherit;
    text-decoration: underline;
}


/*
 * Legends
 */
.legends {
    font-size: .8em;
}

.legends dt {
    clear: left;
    float: left;
    width: 2em;
}

.legends dd,
.legends p {
    margin: 0;
}

.legends:after {
    clear: both;
    content: '';
    display: block;
    width: 0;
}

.icon {
    height: 1em;
}

/*
 * Table of Contents
 */
.toc {
    margin-bottom: 2em;
} 

.toc ol {
    margin: 0;
    padding: 0 0 0 1.5em;
}

.toc .level0 {
    border-left: medium solid #aaa;
    counter-increment: toc;
    list-style: none;
    margin: 0 0 2em -1.5em;
    padding: 0 0 0 1.5em;
}

.toc .level0 > .title {
    background: #f8f8f8;
    border-bottom: thin solid #aaa;
    margin: 0 0 .5em -1.5em;
    padding: .5em 0 .5em 2em;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.toc .level0 > .title:before {
    content: counter(toc) ". ";
    left: .25em;
    position: absolute;
    text-align: right;
    width: 1.5em;
}


/*
 * Section Link
 */
.sectionLink .meter {
    margin-right: .4em;
    width: 2em;
}

.sectionLink .icons {
    display: inline-block;
    margin-right: .3em;
    vertical-align: middle;
    width: 2.2em;
}

.sectionLink .icons .whatwg {
    float: left;
}

.sectionLink .icons .w3c {
    float: right;
}

/*
 * Diff
 */
.diff {
    border-bottom: thin solid #aaa;
    border-collapse: collapse;
    border-top: thin solid #aaa;
    margin-bottom: 2em;
    table-layout: fixed;
    width: 100%;
}

.diff th,
.diff td {
    border-left: thin solid #aaa;
}

.diff thead {
    background: #f8f8f8;
}

.diff thead th {
    border-right: thin solid #aaa;
    font-weight: bold;
    padding-top: .5em;
}

.diff thead td {
    border-bottom: thin solid #aaa;
    border-right: thin solid #aaa;
    padding-bottom: .5em;
    text-align: center;
}

.diff tbody td {
    border-bottom: thin solid #eee;
    border-right: thin solid #aaa;
    padding: .125em .25em;
    vertical-align: top;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.diff tbody td:before {
    content: '';
}

.diff tbody tr:nth-child(even) td {
    background: #f8f8f8;
}

.diff tbody tr:last-child td {
    border-bottom: none;
}

.diff .hljs-tag {
    color: #666;
}

.diff .mark {
    background: #ff6;
    border: thin solid #aa0;
}

/*
 * Update
 */
.update {
    margin-bottom: 2em;
}

.update .sections {
    -moz-column-width: 20em;
    -webkit-column-width: 20em;
    column-width: 20em;
    margin: 0;
    list-style: none;
}

.update .section {
    -moz-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 1em;
}

.update .section div.whatwg,
.update .section div.w3c {
    margin: 0;
    padding: 0 0 0 1.5em;
}

.update .section .trend {
    vertical-align: bottom;
    margin-left: .25em;
}
