html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333;
    font-family: sans-serif;
}

header,
main,
footer {
    padding: 1rem 2rem;    
}

a {
    color: #00f;
}

header {
    background: #333;
    color: #fff;
}

header a {
    color: #fff;
}

.globalLogo {
    float: left;
}

.globalNav {
    float: right;
}

.globalNav ul {
    margin: 0;
    padding: 0;
}

.globalNav li {
    float: left;
    margin: 0;
    padding-left: 2rem;
    list-style: none;
}

header:after {
    clear: both;
    content: '';
    height: 0;
    display: block;
}


footer {
    background: #333;
    color: #fff;
}

footer a {
    color: #fff;
}


.icons .whatwg,
.icons .w3c {
    margin-left:.5rem;
    height: .75em;
    vertical-align: baseline;
}
