html {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.wrap {
    margin: auto;
    max-width: 78rem;
    padding: 0 2rem;
}

p.note {
    font-size: 0.8em;
}

a {
    color: #00f;
}

/*
 * header
 */
#header {
    background: #333;
    border-bottom: thin solid #333;
    color: #fff;
    padding-top: 1em;
}

#header a {
    color: inherit;
}

#header .logo img {
    height: 1.5em;
    margin-right: .25em;
    vertical-align: middle;
}

/*
 * Footer
 */
#footer {
    background: #333;
    border-bottom: thin solid #333;
    border-top: thin solid #333;
    color: #fff;
    font-size: 0.8em;
}

#footer a {
    color: inherit;
}


/*
 * Legends
 */
.legends {
    font-size: .8em;
}

.legends dt {
    clear: left;
    float: left;
    width: 2em;
}

.legends dd,
.legends p {
    margin: 0;
}

.legends:after {
    clear: both;
    content: '';
    display: block;
    width: 0;
}

.icon {
    height: 1em;
}

.icons {
    margin-left:.75rem;
}

.icons .icon {
    margin-right: .25em;
}

/*
 * Diff
 */
.diff {
    border-bottom: thin solid #888;
    border-collapse: collapse;
    border-top: thin solid #888;
    margin-bottom: 2em;
    table-layout: fixed;
    width: 100%;
}

.diff th,
.diff td {
    border-left: thin solid #888;
}

.diff thead {
    background: #f8f8f8;
}

.diff thead th {
    font-weight: bold;
    padding-top: .5em;
}

.diff thead td {
    border-bottom: thin solid #888;
    border-right: thin solid #888;
    padding-bottom: .5em;
    text-align: center;
}

.diff tbody td {
    border-bottom: thin solid #eee;
    border-right: thin solid #888;
    padding: 0.125em 0.25em;
    vertical-align: top;
    white-space: pre-wrap;
}

.diff tbody td:before {
    content: '';
}

.diff tbody tr:nth-child(even) td {
    background: #f8f8f8;
}

.diff tbody tr:last-child td {
    border-bottom: none;
}

.diff mark {
    background: #ff0;
}
