mixin sectionLink(section)
  if section
    span.sectionLink
      - var whatwg = section.whatwg ? section.whatwg.diffStat : null;
      - var whatwgDiff = (whatwg && whatwg.total > 0) ? (whatwg.diffCount / whatwg.total) : 0;

      - var w3c = section.w3c ? section.w3c.diffStat : null;
      - var w3cDiff = (w3c && w3c.total > 0) ? (w3c.diffCount / w3c.total) : 0;

      - var diffRatio = ((whatwgDiff > w3cDiff) ? whatwgDiff : w3cDiff).toFixed(2);
      span.icons
        if section.whatwg
          img.icon.whatwg(alt='WHATWG HTML Standard', src='/images/whatwg.svg', width='16' height='16')
        if section.w3c
          img.icon.w3c(alt='W3C HTML', src='/images/w3c.png', width='16' height='16')
      meter.meter(value=diffRatio, high='0.5')
      - var href = '/diff/' + section.path.split('/').map(encodeURIComponent).join('/');
      a(href=href)
        | #{section.headingText}
  else
    | None

mixin sectionLegends
  div.legends
    p Legends:
    dl
      dt
       img.icon.whatwg(alt='WHATWG HTML Standard', src='/images/whatwg.svg', width='13', height='13')
      dd
       p A section available at WHATWG HTML Standard.
      dt
       img.icon.w3c(alt='W3C HTML', src='/images/w3c.png', width='13', height='13')
      dd
       p A section available at W3C HTML.
