include ../mixins/sectionLink.jade

mixin updateEntry(update)
  if update.updated && update.updated.length > 0
    p The HTML specifications are updated.
    ul.sections
      each updateEntry in update.updated
        li.section
          if updateEntry.section
            +sectionLink(updateEntry.section)
          else
            - var href = '/diff/' + updateEntry.path.split('/').map(encodeURIComponent).join('/');
            a(href=href)= updateEntry.headingText
          div.whatwg WHATWG HTML Standard: 
            if updateEntry.whatwg
              strong
                | #{updateEntry.whatwg.splitted}
            else
              | not modified
          div.w3c W3C HTML 5.1: 
            if updateEntry.w3c
              strong
                | #{updateEntry.w3c.splitted}
            else
              | not modified
  else
    p The HTML specifications are not updated.
