mixin updateEntry(update)
  if update.updated && update.updated.length > 0
    p The HTML specifications are updated.
    ul
      each updateEntry in update.updated
        li
          - var href = '/diff/' + updateEntry.path.split('/').map(encodeURIComponent).join('/');
          a(href=href)= updateEntry.headingText
          div WHATWG HTML Standard: 
            if updateEntry.whatwg
              | #{updateEntry.whatwg.splitted}
            else
              | not modified
          div W3C HTML 5.1: 
            if updateEntry.w3c
              | #{updateEntry.w3c.splitted}
            else
              | not modified
  else
    p The HTML specifications are not updated.
