include ../mixins/sectionLink.jade


mixin updateEntryOfSpecification(updated, orgTitle, org)
  - var updateEntries = updated.filter(function(updateEntry) { return !!updateEntry[org]; });
  if updateEntries.length > 0
    h3=orgTitle
    ul.sections
      each updateEntry in updateEntries
        li.section
          +sectionLink(updateEntry.section)
          div.whatwg WHATWG HTML Standard: 
            if updateEntry.whatwg
              strong
                | #{updateEntry.whatwg.splitted}
            else
              | not modified
          div.w3c W3C HTML 5.1: 
            if updateEntry.w3c
              strong
                | #{updateEntry.w3c.splitted}
            else
              | not modified

mixin updateEntry(update)
  if update.updated && update.updated.length > 0
    +updateEntryOfSpecification(update.updated, 'WHATWG HTML Standard', 'whatwg')
    +updateEntryOfSpecification(update.updated, 'W3C HTML 5.1', 'w3c')
  else
    p The HTML specifications are not updated.
